repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
          - --no-ensure-ascii
          - --indent=2
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.7
    hooks:
      - id: clang-format
        args:
          - --style=file
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint
  - repo: local
    hooks:
      - id: create-compile-commands
        name: create-compile-commands
        entry: cmake
        language: system
        args: [ -Bbuild, -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ]
        always_run: true
        require_serial: true
        pass_filenames: false
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [ -p=build/compile_commands.json --config-file=.clang-tidy ]
        files: ^src/.*\.cpp$
