name: Pre-commit

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install pre-commit
      - name: Run pre-commit
        run: |
          pre-commit install -f --install-hooks
          pre-commit run --all-files
